<div class="bg">
    <div style="width: 100%;">
        <div>
            <button class="" mat-stroked-button (click)="privateResource()">Get private resource</button>
            <label class=" custom-label">{{resourceResponse}}</label>
        </div>
        <br />
        <div>
            <button class="col-sm-2" mat-stroked-button (click)="login()">Login</button>
            <label class="col-sm-2 custom-label">{{loginResponse}}</label>
        </div>
        <br />

        <div>
            <button class="col-sm-2" mat-stroked-button (click)="logout()">Logout</button>
            <label class="col-sm-2 custom-label">{{logoutResponse}}</label>
        </div>
        <br />
    </div>

</div>